.day {
  height: 1235px;
  position: relative;
}

.day-illu {
  max-inline-size: 100%;
  position: absolute;
}

.day-bgd {
  width: 110%;
  filter: blur(6px);
}

.day-bubble {
  width: 65%;
  left: 19%;
  top: -5%;
  z-index: 4;
}

.day-blackline {
  width: 110%;
}

.day-house {
  top: 20%;
  right: 7%;
  width: 28%;
}

.day-district {
  bottom: 25%;
  width: 50%;
  left: 7%;
}
