.evening-bubble {
  width: 589px;
  height: 86px;
}

.evening-sunset {
  width: 955px;
  height: 388px;
}

.evening-bar {
  width: 832px;
  height: 377px;
}

.evening-dancefloor {
  width: 833px;
  height: 370px;
}
