.evening {
  position: relative;
  height: 2014px;
  width: 105%;
  margin-top: 350px;
}

.evening-illu {
  max-inline-size: 100%;
  position: absolute;
}

.evening-bgd {
  z-index: -1;
  width: 100%;
  filter: blur(6px);
  left: -2%;
}

.evening-bubble {
  z-index: 2;
  top: 20%;
  left: 8%;
  width: 40%;
}

.evening-sunset {
  z-index: 1;
  top: 22%;
  right: 15%;
  width: 60%;
}

.evening-bar {
  z-index: 1;
  left: 7%;
  bottom: 27%;
  width: 60%;
}

.evening-dancefloor {
  z-index: 1;
  bottom: -2%;
  right: 10%;
  width: 60%;
}
