.icon {
  display: flex;
  margin: 220px auto 0 auto;
  position: relative;
}

.icon-losange {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: #000000 solid 3px;
  transform: rotate(45deg);
  display: flex;
  margin: auto;
  position: relative;
  animation-name: growl;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes growl {
  0% {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
  }
  // 30% {
  //   width: 55px;
  //   height: 55px;
  // }
  50% {
    width: 50px;
    height: 50px;
  }
  // 60% {
  //   width: 55px;
  //   height: 55px;
  // }
  100% {
    width: 40px;
    height: 40px;
    transform: rotate(315deg);
  }
}

.icon-losange:hover {
  cursor: pointer;
}

.icon-card {
  width: 250px;
  height: 150px;
  background-color: #fff;
  border: solid #000 3px;
  position: absolute;
  top: 15%;
  left: 55%;
  display: none;
}

.icon:hover + .icon-card {
  display: block;
  animation-duration: 1s;
  animation-name: opening;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
// @keyframes opening {
//   from {
//     width: 0px;
//   }
//   to {
//     width: 250px;
//   }
// }

.icon-card-head {
  width: 350px;
  height: 200px;
  left: 60%;
  right: 5%;
  top: 0%;
  animation-name: ayainfo;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

@keyframes ayainfo {
  from {
    width: 0px;
    opacity: 0%;
  }
  to {
    width: 350px;
    opacity: 100%;
  }
}
