.night-bubble {
  width: 945px;
  height: 87px;
}

.night-hotel {
  width: 955px;
  height: 506px;
}

.night-adjoua {
  width: 467px;
  height: 356px;
}

.night-hands {
  width: 603px;
  height: 283px;
}
