.suspens {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}

.suspens-illu {
  max-inline-size: 100%;
}

.suspens-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: #000000;
  position: relative;
}

.carousel-container {
  overflow: hidden;
  max-width: 500px; /* Ajuste la largeur maximale selon tes besoins */
  max-height: 500px;
  // background-color: aqua;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  // width: 100%;
  /* Rend toutes les images partiellement transparentes */
  transition: opacity 0.5s ease-in-out;
  height: auto;
  object-fit: contain; /* Empêche la compression des images */
}

.carousel img.active {
  opacity: 1; /* Rend l'image active complètement visible */
}

.suspens-telephone {
  margin: 0 0 0 22%;
}

.suspens-aveux {
  margin: 0 0 0 38%;
}

.carousel .suspens-maladie {
  width: 65%;
  margin: 0 0 0 38%;
}

.suspens-secours {
  margin: 0 0 0 30%;
}

.suspens-sos {
  margin: 0 0 0 28%;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 40%;
  font-size: 80px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
}

.prev-btn {
  left: 20%; /* Ajuste la position à gauche */
}

.next-btn {
  right: 20%; /* Ajuste la position à droite */
}

.suspens-carousel-caret {
  fill: #fff;
}
