.transition {
  position: relative;
  width: 110%;
}

.trans-day-evening {
  width: 110%;
  position: absolute;
  top: -100px;
  left: -5%;
}

.transited {
  position: relative;
  width: 110%;
}

.trans-evening-night {
  width: 110%;
  position: absolute;
  margin-top: 160px;
  left: -2%;
  z-index: 3;
}
